::before{
    content:"";
    background-image: url("/images/F03 burger-background.jpg");
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

}