.LoginPageStyled {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.LoginPageStyled::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-image: url("/images/F03 burger-background.jpg");
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.55);
    background-blend-mode: darken;

    z-index: -1;
}
